.skills-tec {
    display: flex;
    align-items: center;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: azure;
}

.skills-tec .icon {
    margin-right: 30px;
    width: 85px;
}

.skills-tec .title {
    margin-bottom: 10px;
}

.skills-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}