.title {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #F25A70;
    text-shadow: 5px 5px 0 black;
}

.title.-second {
    color: azure;
    text-shadow: none;
    text-align: center;
}