.wrapper-skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skills .skills-tec {
    width: 430px;
    margin-bottom: 35px;
}

.wrapper-skills .skills-tec:nth-child(odd) {
    margin-right: 90px;
}

.wrapper-skills .progress-bar {
    width: 280px;
}