header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

img {
    box-shadow: 2px 2px 5px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: azure;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    font-weight: 900;
    color: #fff;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: 200ms ease;
}

#button:hover {
    background-color: #fff;
    color: #F25A70;
    transform: scale(1.08);
}





